*background: #222222
*foreground: #FFFFFF
URxvt.loginShell: true
URxvt*scrollBar: false
URxvt*font: xft:Hack:pixelsize=12
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
